@model IEnumerable<MusicListASP.Models.Music>
<h1>Index</h1>
<a asp-action="Create">Hozzáadás</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Title)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Artist)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.PublishYear)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.MusicLength)
        </th>
    </tr>
    @if(Model != null){
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(m => item.Title)
        </td>
        <td>
            @Html.DisplayFor(m => item.Artist)
        </td>
        <td>
            @Html.DisplayFor(m => item.PublishYear)
        </td>
        <td>
            @Html.DisplayFor(m => item.MusicLength)
        </td>
    </tr>
    }
    }

</table>
